<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jquery REST Client!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link href="{{ asset('assets/vendors/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendors/multiselect/jquery.multiselect.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <foorter>

            <!--- Load Ohter Javascript Libraries -->
            <script src="{{ asset('assets/js/library/jquery.rest.js') }}"></script>
            <script src="{{ asset('assets/vendors/multiselect/jquery.multiselect.js') }}"></script>
            <script src="{{ asset('assets/js/util.js') }}"></script>

            <div class="overlay"></div>
            {% block javascripts %}{% endblock %}
        </foorter>
    </body>
</html>